.card {
    border: 4px solid lightblue;
    margin: 20px 20px 0px 20px;
}

.card__header {
    background: lightgrey;
    padding: 10px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 2px solid lightblue;
}

.card__body {
    padding: 10px;
}