@import 'card.css';
@import 'list.css';
@import 'board.css';

body {
  font-family: sans-serif;
}

.header__close-button {
  cursor: pointer;
}

.invisible {
  display: none;
}

.hovered {
  /* background: #f4f4f4; */
  border-style: dashed;
}
